body {
    background-color: #7b849c;
    color: #76ded5;
}

h1 {
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    text-align: center;
    line-height: 59px;
    margin: 10% 10% 5% 10%;
    padding: 0px 0px;
}

.container {
    border: 2px solid #f2c94c;
    border-radius: 10px;
    margin: 5% 10% 10px 10%;
    padding: 25px;
}

#stopwatch {
    text-align: center;
    padding: 25px;
    font-size: 30px;
    font-weight: 500;
}

.head {
    ruby-overhang: 250px;
    display: grid;
    /*  justify-items: right;
  */
    grid-row-gap: 23px;
    width: 120%;
    padding-top: 25px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 270px;
    width: 270px;

    border: 2px solid;
    border-radius: 100%;

}

.time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 40px;
}

.gold {
    left: 59px;
    font-weight: 900;
    /*justify-content: left;*/
    color: #f2c94c;
    text-shadow: 0 0 0px #e6cccc, 0 0 50px #f2c94c;
}

.controls {
    display: flex;
    justify-content: space-between;

    width: 270px;
}

button {
    cursor: pointer;
    background: aqua;
    padding: 10px;
    margin: 20px 10% 10px 20%;
    outline: black;
    border-radius: 10px;
}

.btns {
    margin: 5px auto;
    padding: auto;
}

#btn0 {
    padding: 10px;
    margin: 10px 10px 10px 20%;
}

#btn1 {
    padding: 10px;
    margin: 10px 10px 10px 5%;
}

#btn2 {
    padding: 10px;
    margin: 10px 10px 10px 20%;
    font-size: large;
}

#playButton {
    display: block;
}

#pauseButton {
    display: none;
}

.countdown1 {
    margin: -450px 30px;
    padding: 2px;
    display: inline-block;
    position: absolute;
    left: 1095px;

}

h3 {
    margin: 2px 10% 0 15%;
    padding: 5px;
}

#laps {
    text-align: center;
    padding: 25px;
    font-size: 30px;
}

#timer {
    padding: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: 500;

}

.timeinput {
    text-align: center;
    margin-bottom: 15px;
}